<div id="plan">
    <h1>Supprimer des plans repas</h1>
  
    <div class="divider"></div>
  
    <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
      <thead class="header">
        <th class="contentCell">NUMÉRO PLAN</th>
        <th class="contentCell">CATÉGORIE</th>
        <th class="contentCell">FRÉQUENCE</th>
        <th class="actionCell">NOMBRE DE PERSONNES</th>
        <th class="contentCell">CALORIES</th>
        <th class="contentCell">PRIX($)</th>
        <th class="contentCell">NUMÉRO FOURNISSEUR</th>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plans; let i = index">
          <td class="contentCell">{{ plan.numeroplan }}</td>
          <td class="contentCell">{{ plan.categorie }}</td>
          <td class="contentCell">{{ plan.frequence }}</td>
          <td class="contentCell">{{ plan.nbrpersonnes }}</td>
          <td class="contentCell">{{ plan.nbcalories }}</td>
          <td class="contentCell">{{ plan.prix }}</td>
          <td class="contentCell">{{ plan.numerofournisseur }}</td>
          <td class="actionCell">
            <button type="button" class="deletebtn" (click)="deletePlan(plan.numeroplan)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
